.inputBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 25px;
  border: 2px solid #7b90a6;
  background-color: #f0f7ff;
  padding: 15px;
}

.components {
  width: 100%;
}

.textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 8px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f0f7ff;
  color: #333;
  min-height: 100px;
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
}

.textarea::placeholder {
  color: #828282;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
  color: #2c3844;
  flex-wrap: wrap;
}

.leftIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

.iconIntro {
  margin-left: 10px;
  position: relative;
  font-weight: bold;
}

.rightIcons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  margin-left: 20px;
  position: relative;
}

.iconHover {
  transition: opacity 0.3s ease;
}

.iconHover:hover {
  opacity: 0.5;
}

.iconHover2 {
  transition: opacity 0.3s ease;
  margin-left: 15px;
}

.iconHover2:hover {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .icons {
    flex-direction: column;
    align-items: flex-start;
  }

  .rightIcons {
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
  }

  .leftIcons {
    justify-content: flex-start;
    width: 100%;
  }
}
