.inputBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 25px;
  border: 2px solid #7b90a6;
  background-color: #f0f7ff;
  width: 960px;
  padding: 15px;
}

.components {
  width: 100%;
}

.textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 10px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  background-color: #f0f7ff;
  color: #333;
  min-height: 50px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.textarea::placeholder {
  color: #828282;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.lefticons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.righticons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon {
  margin-left: 20px;
  position: relative;
}

.iconHover {
  transition: opacity 0.3s ease;
}

.iconHover:hover {
  opacity: 0.5;
}
