.correctBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 25px;
  border: 2px solid #7b90a6;
  background-color: #f0f7ff;
  padding: 15px;
  margin-top: 4px;
}

.component {
  width: 100%;
}

.textarea {
  flex-grow: 1;
  resize: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 7px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  background-color: #f0f7ff;
  color: #333;
  min-height: 50px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.textarea::placeholder {
  color: #828282;
}
