
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttonGroup button {
  margin-left: 10px;
  padding: 5px 10px;
}
