.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.modalContent {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 45px;
  width: 800px;
  max-width: 90%;
  position: relative;
}

.modalHeader {
  text-align: center;
  margin-bottom: 60px;
}

.modalHeader h2 {
  margin-bottom: 8px;
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 22px;
  background: none;
  border: none;
  font-size: 48px;
  cursor: pointer;
  color: #7b90a6;
}

.modalBody {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}

.formGroups,
.sliderGroups {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formGroup,
.sliderGroup {
  position: relative;
  margin-bottom: 15px;
}

.formGroup label,
.sliderGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input,
.sliderGroup input[type='range'],
.formGroup select {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 3px solid #7b90a6;
  outline: none;
  box-shadow: none;
}

.sliderGroup {
  display: flex;
  flex-direction: column;
}

.sliderContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sliderGroup input[type='range'] {
  flex: 1;
}

.sliderGroup input[type='number'] {
  width: 60px;
  padding: 5px;
  border-radius: 8px;
  border: 3px solid #7b90a6;
  text-align: center;
  outline: none;
  box-shadow: none;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton,
.saveButton {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 70px;
  text-align: center;
}

.cancelButton {
  border: 2px solid #7b90a6;
}

.saveButton {
  background-color: #e0b1e8;
  border: 2px solid #e0b1e8;
}

.cancelButton:hover {
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  background-color: rgba(123, 144, 166, 0.1);
  border-color: rgba(123, 144, 166, 0.5);
}

.saveButton:hover {
  transition:
    background-color 0.3s,
    color 0.3s,
    border-color 0.3s;
  background-color: rgba(224, 177, 232, 0.7);
  border-color: rgba(123, 144, 166, 0.5);
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  max-width: 150px;
  word-wrap: break-word;
  white-space: normal;
}
