.smallCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #dcfce7;
  padding: 20px;
  width: 360px;
  height: 60px;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.smallCard p {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.word {
  color: #117318;
}

.percent {
  color: #333333;
}

.smallCard_other {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #f3f4f6;
  padding: 20px;
  width: 360px;
  height: 60px;
  border-radius: 25px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.smallCard_other p {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.word_other {
  color: #927c74;
}

.percent_other {
  color: #333333;
}
