.sidebar {
  width: 40%;
  max-height: calc(100vh - 60px);
  background-color: #ffffff;
  transition: transform 0.3s ease;
  position: absolute;
  left: 0;
  overflow-y: auto;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 80px;
  padding-top: 120px;
}

.closed {
  transform: translateX(-100%);
}

.open {
  transform: translateX(0);
}

.content {
  margin-top: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.tipItem {
  margin-bottom: 20px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.checkboxLabel input[type='checkbox'] {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.tipTitle {
  margin-left: 12px;
  font-weight: bold;
  font-size: 22px;
}

.tipExample {
  margin-left: 36px;
  color: #555555;
  font-size: 18px;
}
