.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 12px;
  justify-content: center;
}
