.container {
  display: flex;
  justify-content: center;
}

.grid {
  width: 90vw;
  display: grid;
  gap: 16px;
  margin: 2rem 0rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 12px;
  justify-content: center;
}
