.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: #f0f0f0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebarOpen {
  width: 40%;
}

.sidebarToggleButton {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    left 0.3s ease,
    background-color 0.3s ease;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 800;
}

.sidebarOpen + .sidebarToggleButton {
  left: calc(40% + 10px);
}

.sidebarToggleButton:hover {
  background-color: #e0e0e0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebarToggleButton svg {
  width: 20px;
  height: 20px;
}

.heroContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  transition: width 0.3s ease;
  overflow: hidden;
  padding-top: 30vh;
}

.heroContainerSidebarOpen {
  width: 60%;
}

.transitionContainer {
  width: 100%;
}

.menuContainer {
  position: relative;
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  border-radius: 18px;
  background-color: rgba(123, 144, 166, 0.18);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25) inset;
}

.menu button {
  display: flex;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #2e3d4d;
  font-weight: 700;
  font-size: 16px;
  transition:
    background-color 0.3s,
    color 0.3s;
  border-radius: 12px;
}

.menu .icon {
  margin-right: 12px;
}

.menu .activeButton {
  display: flex;
  background-color: #f0f7ff;
  color: #333333;
  font-weight: 700;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}

.menu button:not(.activeButton):hover {
  background-color: #e0e0e0;
  border-radius: 12px;
}

.hidden {
  display: none;
}

.componentTop {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

.componentBottom {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.hero {
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 27px;
  font-weight: bold;
  color: #6f627a;
  margin-bottom: 50px;
}

.resultBox {
  margin-top: 180px;
}

.bgRed {
  background-color: #ffeded;
}

.borderRed {
  border: 1px solid #ff0000;
}

.textRed {
  color: #ff0000;
}

.px {
  padding-left: 16px;
  padding-right: 16px;
}

.py {
  padding-top: 16px;
  padding-bottom: 16px;
}

.rounded {
  border-radius: 8px;
}

.bold {
  font-weight: bold;
}

.fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scoreText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.mb {
  margin-bottom: 20px;
}
