.fixPrompt {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  margin-top: 20px;
  width: 95vw;
  font-size: 20px;
  font-family: 'Montserrat';
}

.fixPrompt h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fixPrompt h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fixPrompt h4 {
  font-size: 18px;
  font-weight: normal;
  color: #666666;
  margin-bottom: 30px;
}

.fixPrompt li p ul {
  margin-bottom: 5px;
}
